-
name: Mirrorshades
slug: 2026-06-mirrorshades
date: 13 June 2026
venue: Quaker Meeting House, Reading, RG1 2SB
location: READING
tagline: Get your crew, and get running!
description: |
**They might own the world, but no-one owns the Net...**

It is the late 21st Century and life in the West Coast Sprawl is dominated by powerful mega-corporations. Yet on the street, rebellious punks, lit by blazing bright neon, search for another way to live. The world is about to change…and you will decide whether it is the mega-rich oligarchs or the neo-anarchists who come out on top.

Mirrorshades is a megagame of classic cyberpunk, in the tradition of Neuromancer, Altered Carbon and Netrunner. In the game, players take on the roles of the megacorp leadership and the punks who both despise and serve them in a world of neon-drenched, 80s influenced, gaming fun!

​**This is a megagame**

​Mirrorshades is a game for around 50 players. You'll be part of a team of 4, either the executives of a megacorp, or a gang of street punks. You'll also have personal goals, which may cause some tension with your team, but there are no out-and-out traitor roles. You'll find that some other teams are natural allies for you, and others may rapidly become sworn enemies.

​The game has board game style rules that are simple to learn but will take time to master. There's also space for you to come up with creative solutions to problems - if there isn't a rule for the thing you want to do, we'll make one on the fly. A certain amount of deception and trickery may be necessary, but you'll also need to find people you can ally with if you're going to survive. Unlike many games, there's no single winner; many players can achieve their goals, and even for those who don't, their journey through the day forms part of the wider narrative.

​**Get your crew, and get running!**

​You'll be assigned a role in the run-up to the game - and you'll have the chance to let us know what sort of role you want. There's a range of roles from purely diplomatic and negotiation to primarily focusing on game mechanics - with plenty of variety we'll aim to put you in the role that you'll find most fun.

tickets: https://www.tickettailor.com/events/7/2038923
listImage: images/mirrorshades-list.jpg
bannerImage: images/mirrorshades-banner.jpg
-
name: Aftermath
slug: 2026-04-aftermath
date: 11 April 2026
venue: West Oxford Community Centre, Oxford, OX2 0BT
location: OXFORD
tagline: It's the end of the world as we know it...
description: |
**It's the end of the world as we know it...**

No-one knows for sure what happened. Most people just call it "the Event" - pronounced with a capital E. Whatever it was, it wiped out civilisation as we know it. The cities were hit hardest - but you were some of the lucky few who were far enough out, and made it through the first, brutal winter.

Now it's spring again. You, and the survivors who now look to you for leadership and guidance, can safely roam further from your hard-won shelter, scavenging for supplies and seeing who else is out there. Perhaps this is your chance to rebuild civilisation - do better than what came before. Or perhaps this is your chance to finally leave a life of tedious responsibilities behind and just enjoy what's left.

There are still a few remnants of the former government kicking around, as well. When the Event happened, they did their best to save as many people as possible - but their resources were quickly overwhelmed. Now, they need to work out what their role is in this new world.

**This is a megagame**

Aftermath is a game for around 40 players. You'll be part of a team of 3, responsible for the wellbeing of a handful of survivors. Within your team, you'll work together completely - but other survivors may be less helpful. You'll need to build relationships - tenuous at first - with the other survivors, showing them they need to take you seriously, but making alliances where you can.

The game has simple, board game style rules, but also allows for you to come up with creative solutions to problems - if there isn't a rule for the thing you want to do, we'll make one on the fly. A certain amount of deception and trickery may be necessary, but you'll also need to find people you can work with all day. Unlike many games, there's no single winner; many players can achieve their goals, and even for those who don't, their journey through the day forms part of the wider narrative.

**Tea, Biscuits, and the Apocalypse**

You'll be assigned a role in the run-up to the game - and you'll have the chance to let us know what sort of role you want. Most roles in this game focus on negotiation and creative problem-solving, with some interaction with basic game mechanics.
tickets: https://www.tickettailor.com/events/7/1963141
listImage: images/aftermath-list.png
bannerImage: images/aftermath-banner.png
-
name: The Generalissimo is Dead
slug: 2026-02-generalissimo
date: 21 Feburary 2026
venue: St Luke's Parish Hall, Reading, RG1 5LR
location: READING
tagline: Il Generalissimo is dead! How can the country go on?
description: |
  **Members of the People's Party of Yugenya, tragedy has struck.**

  The Generalissimo has kept the country together with an iron fist since the revolution. Beloved by the people, feared by his enemies and respected the world over. Now, tragedy has struck and Il Generalissimo is dead! How can the country go on? Who will lead the people?!?
  Heavily inspired by The Death of Stalin, the game is set in the 1980s. Stuck between East and West, Yugenya is an under-developed nation with vast natural resources. The Generalissimo used these resources to expand the revolutionary guard, build a navy and establish an air force. Critics would also say he channelled much of the wealth into paranoia-fuelled schemes against imagined foes.
  Secure the Generalissimo's legacy from other Party Members who don't understand it as well as you do, and prepare a bright future for the people of Yugenya!

  **This is a megagame**

  The Generalissimo is Dead is a game for around 40 players. You'll be part of a team of 3-6, responsible for running a key government function. You'll also have personal goals, which may put you wildly at odds with your team (if they find out about them). You'll need to negotiate and strategize with other players, and occasionally lie to them, to get things done.
  The game has simple, board game style rules, but also allows for you to come up with creative solutions to problems - if there isn't a rule for the thing you want to do, we'll make one on the fly. A certain amount of deception and trickery may be necessary, but you'll also need to find people you can work with all day. Unlike many games, there's no single winner; many players can achieve their goals, and even for those who don't, their journey through the day forms part of the wider narrative.

  **The Party must stand together**

  You'll be assigned a role in the run-up to the game - and you'll have the chance to let us know what sort of role you want. Most roles in this game focus on negotiation and scheming, with some interaction with basic game mechanics.

  *Due to safeguarding limitations, we unfortunately aren't able to accommodate players under the age of 18 at this game.*
tickets: https://www.tickettailor.com/events/7/1953383
listImage: images/generalissimo-list.png
bannerImage: images/generalissimo-banner.png
-
name: You'd Better Watch Out
slug: 2025-12-ybwo
date: 6 December 2025
tagline: A 40-player game of Festive Shenanigans.
description: |
  After a successful Christmas, the elves of the North Pole wake up to find Santa missing - and with him, centuries of accumulated magic! Is this a callous desertion, or foul play? Worse still, with the magic missing, parts of the North Pole are starting to fade away. Can the elves manage to pull off a Christmas good enough to keep things going? And - asking for a friend - who's in charge now?

  You'd Better Watch Out is a megagame - a blend of board gaming and LARP with an emphasis on communication. The game is driven by a set of easy to learn board game rules for resource management and worker placement. While these rules govern the main actions you will wish to take, the team of facilitators will give you complete freedom to take the game in whatever direction you wish. Of course, some of those directions might well lead to catastrophe...

  As one of the elves, you'll spend the day engaged in high-stakes toymaking with a side of corporate politics. While the rules are simple, the right decisions aren't obvious: as with all megagames, the complications come from the other players. There is a power vacuum, after all, and working too hard for the greater good will make it that much easier for others to pursue their own personal goals...essentially, what we're saying is that You'd Better Watch Out.
listImage: images/ybwo-list.png
bannerImage: images/ybwo-banner.jpg
photos: PXL_20251206_155204357.avif
-
name: Club 1927
slug: 2025-10-club
date: 25 October 2025
tagline: A Megagame of Gangsters, Cops and Ambition...
description: |
Take the role of a ruthless gangster or crooked cop in the fictional city of "New Reading" and join us for a day of pulpy fun.

New Reading is a major industrial city in the north east of the USA well situated on a fork in the Kennet river. Two years ago the ‘27 Accord was agreed upon by the rival gangs of New Reading after a period of intense gang warfare. This accord was signed in the Club 1927 speakeasy which has been considered neutral territory ever since.

Not everyone was happy with the Accord, and cracks are starting to show. As long as no one rocks the boat maybe it will hold together…

"Club 1927" is a megagame for up to 42 players that follows the fates of the gangsters, criminals and cops of New Reading during the final year of the golden age of prohibition.​

Players will be running speakeasies and collecting protection money, robbing banks and smuggling contraband, starting street brawls and performing drive bys. Meanwhile the cops will be collecting evidence, raiding buildings and maybe taking the occasional bribe.

Everything's falling apart, but before it does... are you creating a legacy, keeping the peace or just trying to get ahead? The roaring twenties are coming to a close and not everyone is going to come out of them smelling of roses.
listImage: images/club-list.png
bannerImage: images/club-banner.png
-
name: Machiavelli's Re-NEEEIGH-ssance
slug: 2025-11-machiavelli
date: 8 November 2025
tagline: Renaissance Italy is a political powder keg
description: |
Backstabbing dukes, adventuring mercenary companies, alchemical wonders, and incredible wealth are mixed into an explosive concoction. Italian plutocrats vie for power and control, while envious eyes look on from larger neighbours. Diplomacy, influence, intrigue, and money are wielded as keenly as the lances of heavy cavalry. Welcome to Machiavelli’s Renaissance: where you will rewrite the history of Europe.

This version of Europe does look slightly different from ones you've heard about before. Families of cat-folk, lizard-folk and others lead the cities. Horse-folk have no need of riders to go into battle. In the east, the Holy Rodent Empire fends off the advances of the Otterman Empire. The Cult of the Sacred Egg holds sway from its seat in Rome. But make no mistake - the residents of this world are every bit as ruthless and cut-throat as their human counterparts.

**This is a megagame**

Machiavelli's Re-NEEEIGH-ssance is a game for around 50 players. Most players will be part of a team of 3 with aligned objectives, and will negotiate and strategize with other teams to get things done. A few will be free agents, trying to make themselves useful to the larger teams and make their own mark on history. The game has simple, board game style rules, but also allows for you to come up with creative solutions to problems - if there isn't a rule for the thing you want to do, we'll make one on the fly. A certain amount of deception and trickery may be necessary, but you'll also need to find people you can work with all day. Unlike many games, there's no single winner. Instead, you'll pursue personal goals, and at the end of the game your journey will form part of a wider narrative.

**A time of evolution, and revolution**

You'll be assigned a role in the run-up to the game - and you'll have the chance to let us know what sort of role you want. The game has a wide range of available roles, from the bold tactics of military leaders to the creative freedom of the greatest artists of the age, and anything in-between.
listImage: images/machiavelli-list.avif
bannerImage: images/machiavelli-banner.avif
photos:20251108_102651.jpg,20251108_102655.jpg,20251108_103713.jpg,20251108_115037.jpg,20251108_115051.jpg,20251108_115054.jpg,20251108_115057.jpg,20251108_115115.jpg,20251108_115225.jpg,20251108_115333.jpg,20251108_115353.jpg,20251108_124925.jpg,20251108_124938.jpg,20251108_125004.jpg,20251108_135242.jpg,20251108_143014.jpg,20251108_143025.jpg,20251108_161532.jpg
-
name: Red Planet Rising
slug: 2025-04-rpr
date: 19 April 2025
tagline: The post-apocalyptic martian megagame
description: |
**What will the future of Mars be? It's up to you to decide.**

As the governments of Earth began to colonise the solar system in a somewhat distant future, they thought the conflicts of the past were behind them as this brand new future dawned. Instead they just expanded the reach of the conflict, destroying all they'd built in an instant. It is a century since then and those that survived in the Martian colony of the Mariner Valley have begun to look towards the future of Mars, from old world corporations who have believed in their own propaganda, to crashed warships that are still flying the old flags to those who have made it through sacrifice and spirit. Each have a view to what this new Mars should look like - will they succeed and bring a new golden age to Mars, or will the sins of the past repeat themselves yet again?

**This is a megagame**

Red Planet Rising is a game for around 36 players. You will be part of a team of 3 players, each with aligned objectives, and will negotiate and strategize with other teams to achieve your aims. The game has simple, board game style rules with space that encourages you to come up with your own creative solutions to problems - if there isn't a rule for what you want to do, we'll make one up on the fly. There will likely be a degree of deception and treachery, whether intentional or accidental, but you'll need to find people that you can rely on to rebuild Mars. Unlike most games, there's no single winner. Instead, you'll each pursue your own team's goals, and at the end of the game your journey will form part of a wider narrative.

**Mariner City Welcomes You**

You'll be assigned a role in the run-up to the game - and you'll have the chance to let us know what sort of role you want. Each team has the same structure of a team leadership role, a military commander role and a resource lead role. But each have the freedom to act as they need in the best interests of their team.
listImage: images/rpr-list.png
bannerImage: images/rpr-banner.png
-
name: The Real Heroes
slug: 2025-03-realheroes
date: 29 March 2025
tagline: Superheroes vs Supervillains.
description: |
**Kaboom! Zap! Pow!**

A few years back, superpowered individuals began popping up all over America. Many of their powers were trivial, even comical - the ability to power a single lightbulb, or discern the thoughts of petunias. But many had powers which made them much more dangerous than the average mortal - super-speed, super-strength, flight. While some tried to use these powers for good, many others simply took whatever opportunities arose. Now, super-crime is on the rise, and anyone with powers has a decision to make. Does great responsibility truly come with great power? Who will be the real heroes?

**This is a megagame**

The Real Heroes is a game for around 40 players. You'll start as part of a super-team of 3-5, with loosely aligned objectives, but you'll have your own objectives and plot threads to pursue, and you may well end up breaking and re-building teams during the day. The game has simple, board game style rules, but also allows for you to come up with creative solutions to problems - if there isn't a rule for the thing you want to do, we'll make one on the fly. A certain amount of deception and trickery may be necessary, but you'll also need to find people you can work with all day. Unlike many games, there's no single winner. Instead, you'll pursue personal goals, and at the end of the game your journey will form part of a wider narrative.

**Secret Identities Abound**

You'll be assigned a role in the run-up to the game - and you'll have the chance to let us know what sort of role you want. While everyone is a super-powered individual and interacts with the same set of game rules, some roles will be classic heroes, others will be morally grey anti-heroes, and there may even be some out-and-out villains in the mix.
listImage: images/realheroes-list.png
bannerImage: images/realheroes-banner.jpg
