-
name: TEST GAME 1
slug: 2026-06-mirrorshades
date: 13 June 2026
venue: Quaker Meeting House, Reading, RG1 2SB
location: READING
theme: Fun!
complexity: Nightmarish
tagline: Get your crew, and get running!
description: |
**They might own the world, but no-one owns the Net...**

It is the late 21st Century and life in the West Coast Sprawl is dominated by powerful mega-corporations. Yet on the street, rebellious punks, lit by blazing bright neon, search for another way to live. The world is about to change…and you will decide whether it is the mega-rich oligarchs or the neo-anarchists who come out on top.

Mirrorshades is a megagame of classic cyberpunk, in the tradition of Neuromancer, Altered Carbon and Netrunner. In the game, players take on the roles of the megacorp leadership and the punks who both despise and serve them in a world of neon-drenched, 80s influenced, gaming fun!

​**This is a megagame**

​Mirrorshades is a game for around 50 players. You'll be part of a team of 4, either the executives of a megacorp, or a gang of street punks. You'll also have personal goals, which may cause some tension with your team, but there are no out-and-out traitor roles. You'll find that some other teams are natural allies for you, and others may rapidly become sworn enemies.

​The game has board game style rules that are simple to learn but will take time to master. There's also space for you to come up with creative solutions to problems - if there isn't a rule for the thing you want to do, we'll make one on the fly. A certain amount of deception and trickery may be necessary, but you'll also need to find people you can ally with if you're going to survive. Unlike many games, there's no single winner; many players can achieve their goals, and even for those who don't, their journey through the day forms part of the wider narrative.

​**Get your crew, and get running!**

​You'll be assigned a role in the run-up to the game - and you'll have the chance to let us know what sort of role you want. There's a range of roles from purely diplomatic and negotiation to primarily focusing on game mechanics - with plenty of variety we'll aim to put you in the role that you'll find most fun.

tickets: https://www.tickettailor.com/events/7/2038923
listImage: images/mirrorshades-list.jpg
bannerImage: images/mirrorshades-banner.jpg
-
name: TEST GAME B
slug: 2026-06-mirrorshades
date: 13 June 2026
venue: Quaker Meeting House, Reading, RG1 2SB
location: READING
theme: Fun!
complexity: Nightmarish
tagline: Get your crew, and get running!
description: |
**They might own the world, but no-one owns the Net...**

tickets: https://www.tickettailor.com/events/7/2038923
listImage: images/mirrorshades-list.jpg
bannerImage: images/mirrorshades-banner.jpg
-
name: TEST GAME 2
slug: 2025-03-realheroes
date: 29 March 2025
tagline: Superheroes vs Supervillains.
description: |
**Kaboom! Zap! Pow!**

A few years back, superpowered individuals began popping up all over America. Many of their powers were trivial, even comical - the ability to power a single lightbulb, or discern the thoughts of petunias. But many had powers which made them much more dangerous than the average mortal - super-speed, super-strength, flight. While some tried to use these powers for good, many others simply took whatever opportunities arose. Now, super-crime is on the rise, and anyone with powers has a decision to make. Does great responsibility truly come with great power? Who will be the real heroes?

**This is a megagame**

The Real Heroes is a game for around 40 players. You'll start as part of a super-team of 3-5, with loosely aligned objectives, but you'll have your own objectives and plot threads to pursue, and you may well end up breaking and re-building teams during the day. The game has simple, board game style rules, but also allows for you to come up with creative solutions to problems - if there isn't a rule for the thing you want to do, we'll make one on the fly. A certain amount of deception and trickery may be necessary, but you'll also need to find people you can work with all day. Unlike many games, there's no single winner. Instead, you'll pursue personal goals, and at the end of the game your journey will form part of a wider narrative.

**Secret Identities Abound**

You'll be assigned a role in the run-up to the game - and you'll have the chance to let us know what sort of role you want. While everyone is a super-powered individual and interacts with the same set of game rules, some roles will be classic heroes, others will be morally grey anti-heroes, and there may even be some out-and-out villains in the mix.
listImage: images/realheroes-list.png
bannerImage: images/realheroes-banner.jpg
